body{
    background-image: linear-gradient(to top, white, grey);
    height: 3700px;

}
div{
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -307px;

    
}
h1{
    font-size: 50px;
    text-align: center;
    position: 50px;
}
img{
    height: 500px;

}